<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="card-header bg-primary text-white">
                        <button class="btn btn-primary" style="position: absolute; top: 25px; right: 5px;" onclick="window.location.href='/'">Back to Home</button>
                        <h1><span class="fa fa-user"></span> Profile</h1>
                    </div>
                    <div class="card-body">
                        <h4><strong>Username:</strong> <span class="text-primary"><%= user.username %></span></h4>
                        <h4><strong>Email:</strong> <span class="text-primary"><%= user.email %></span></h4>
                        <h4><strong>Wins:</strong> <span class="text-success"><%= user.wins %></span></h4>
                        <h4><strong>Losses:</strong> <span class="text-danger"><%= user.loses %></span></h4>
                        <h4><strong>Games Played:</strong> <span class="text-primary"><%= user.gamesPlayed %></span></h4>
                        <% if(user.lowestTime != Infinity ) { %>
                            <h4><strong>Your best time: </strong> <span class="text-primary"><%= user.lowestTime %></span></h4>
                        <% } else { %>
                            <h4><strong>Your best time: </strong> <span class="text-primary">Sorry you havent won any game</span></h4>
                        <% } %>
                        <a href="/user/edit" class="btn btn-primary btn-block">Edit Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>